*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1', sans-serif;
}

/* =============== Header =============== */
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    z-index: 1;
    font-weight: bold;
    font-size: 15px;
}

.logo{
    width: 120px;
    height: 24px;
    padding: 0px 0px 0px 32px;
}

.logo svg{
    width: 120px;
    height: 24px;
    color: black;
}

.header_center ul, .header_right ul{
    display: flex;
    list-style-type: none;
}

.header_center a, .header_right a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
    padding: 4px 8px;
}

.header_center a:hover, .header_right a:hover{
    border-radius: 5px;
    background-color: rgba(94, 98, 105, 0.1);

}

.header_center{
    display: none;
}

@media(min-width:1100px){
    .header_center{
        display: initial;
    }
}

.procurar_api{
    border: 1px solid #000;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.procurar_api{
    display: none;
}

/* =============== Header =============== */

/* ============== Section =============== */
section.m3{
    width: 100%;
    height: 100vh;
    background-image: url('Img/Model-3.jpg');
    background-size: cover;
    background-position: center;
}


.m3{
    text-align: center;
    position: absolute;
}

.m3 .conteiner h1{
    margin-top: 90px;
}

.m3 .btn{
    margin-top: 23%;
}

.m3 h1{
    padding: 0px 24px;
    font-size: 50px;
}

.m3 p{
    padding: 0px 24px;
    font-size: 14px;
    color: black;
    
}

.order{
    text-decoration: none;
    background-color: rgba(23, 26, 32, 0.8);
    color: white;
    padding: 8px 80px;
    border-radius: 5px;
    font-weight: bold;
}

.iventory{
    text-decoration: none;  
    background-color: #F4F4F4A6;
    color: #393C41;
    padding: 8px 80px;
    border-radius: 5px;
    font-weight: bold;
}

section .btn a{
    display: initial;
}

@media(max-width:600px){
    section .btn a{
        display: block;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 10px;
    }
    .m3 .btn{
        margin-top: 250px;
    }
}

.conteiner a{
    color: black;
}
/* ============== Section =============== */

/* =============== Login ================ */
.login{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    gap: 5px;
    background-color: #fff;
    z-index: 10;
}

.input_sign{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}

.sign_case {
    position: absolute;
    font-size: 30px;
    top: 5px;
    left: 40%;
}

.close, .close_agenst {
    position: absolute;
    align-self: flex-end;
    padding: 10px;
    top: 10px;
}

.input_sign input {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}

.signin{
    border-radius: 5px;
    width: 64px;
    height: 32px;
}

.signin:hover, .close , .close_agenst {
    cursor: pointer;
}

.email_err, .pass_err{
    color: #ff0000;
}
/* ============= Agents ============== */
.imagem{
    width: 537px;
    height: 487px;
}

.agentes_info{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 20px;
    width: 70%;
    height: 80%;
    gap: 5px;
    background-color: #fff;
    z-index: 10;
}

.name_agent{
    font-size: 5rem;
}
