<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../stylesheets/search.css">
    <link rel="icon" type="image/png" href="Tesla_T_symbol.svg.png">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="home">
                <svg viewBox="0 0 342 35">
                    <path
                        d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z"
                        fill="currentColor"></path>
                </svg>
            </a>
        </div>
        <div class="header_center">
            <ul>
                <li><a href="#"><span>Model S</span></a></li>
                <li><a href="#"><span>Model 3</span></a></li>
                <li><a href="#"><span>Model X</span></a></li>
                <li><a href="#"><span>Model Y</span></a></li>
                <li><a href="#"><span>Solar Roof</span></a></li>
                <li><a href="#"><span>Solar Panels</span></a></li>
            </ul>
        </div>
        <div class="header_right">
            <ul>
                <li><a href="admin" class="menu_right" id="admin"><span>Admin</span></a></li>
                <li><a href="busca" class="menu_right"><span>Search</span></a></li>
                <li><a href="auth/login" class="menu_right" id="account_show"><span>Account</span></a></li>
                <li><a href="#"><span>Menu</span></a></li>
            </ul>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="topContainer">
                <input type="text" name="pesquisa" id="procurar_api">
                <button id="btnPesquisar">Pesquisar</button>
            </div>
            <div class="bottomContainer">
                <div class="agentes_info">
                    <div><img src="#" alt="imagem" class="imagem"></div>
                    <div class="description_info">
                        <h3 class="name_agent"></h3>
                        <p class="description"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="postagens">
        <form action="busca" method="get" id="formposts">
            <input type="text" name="buscarpost">
            <input type="submit">
        </form>
        {{#posts}}
            <div class="posts">
                <h2 class="titlepost">{{title}}</h2>
                <p class="commentpost">{{comment}}</p>
            </div>
        {{/posts}}
    </section>
    <script src="../javascripts/search.js"></script>
</body>

</html>