*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1', sans-serif;
}


body{
    width: 100%;
    height: 80vh;
    background-image: url('../images/Model-3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =============== Header =============== */
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    z-index: 1;
    font-weight: bold;
    font-size: 15px;
}

.logo{
    width: 120px;
    height: 24px;
    padding: 0px 0px 0px 32px;
}

.logo svg{
    width: 120px;
    height: 24px;
    color: black;
}

.header_center ul, .header_right ul{
    display: flex;
    list-style-type: none;
}

.header_center a, .header_right a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
    padding: 4px 8px;
}

.header_center a:hover, .header_right a:hover{
    border-radius: 5px;
    background-color: rgba(94, 98, 105, 0.1);

}

.header_center{
    display: none;
}

@media(min-width:1100px){
    .header_center{
        display: initial;
    }
}

.procurar_api{
    border: 1px solid #000;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.procurar_api{
    display: none;
}

/* ============ section =============== */
section{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form{
    background-color: rgba(75, 80, 88, 0.626);
    padding: 10px;
    border-radius: 5px;
}

#postagem{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
}