@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    height: 80vh;
    background-image: url('../images/Model-3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-cadastro{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 500px;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    background: #DFDFDF;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
}

.box-cadastro h2{
    text-transform: uppercase;
    margin-top: 0;
    text-align: left;
    font-size: 36px;
    border-bottom: 3px solid #088178;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.ipunt-box{
    width: 100%;
    overflow: auto;
    font-size: 22px;
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 2px solid #088178;
    transition: 0.2s;
}

.ipunt-box:focus-within{
    border-bottom: 2px solid #088178;
}

.ipunt-box i{
    width: 28px;
    float: left;
    text-align: center;
}
.ipunt-box i svg {
    color: #000;
}

.ipunt-box input{
    border: none;
    outline: none;
    background: none;
    color: #000;
    font-size: 18px;
    width: 85%;
    float: left;
}

.submit-btn{
    background: none;
    width: 100%;
    border: 2px solid #fff;
    color: #252525;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding: 7px;
    margin-top: 40px;
    border-radius: 10px;
}

.submit-btn a{
    text-decoration: none;
    color: #252525;
}

.submit-btn:hover{
    background: #088178;
    color: #fff;
}